{% extends 'client/navbar.html' %}

{% block content %}

    <br>

    <div class="container bg-white shadow-md p-5 form-layout text-center">

        <h5> Application approval complete </h5>

        <br>

        <h1> 🤙 </h1>

        <br>

        <p>
            Your request to update your subscription has been updated
        </p>

        <a class="btn btn-success" type="button" href="{% url 'client-dashboard' %}">

            > Return to Dashboard
 
         </a>

    </div>

{% endblock %}
